.mfp-bg {

    background:black;
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-counter, .mfp-image-holder .mfp-close{
    color: #888;
}

/*img{
    max-height: 100%;
    max-width: 100%;
    border: 1px solid black;
    margin: 0;
}*/
