body {
	font-size: 1.5em;
}

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* ftw? isn't that rtl for wtf? ;) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/* End Box Sizing */

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
	position:relative;
	min-height:100%;
}
body {
	margin:0 0 30px; /* bottom = footer height */
}

h3{
	padding-bottom: .5em;
	margin-top: 0;
}

footer {
	position: absolute;
	left:0;
	bottom:0;
	height:1.5em;
	width:100%;
	background-color:#eee;
	background-color: transparent;
	text-align:center;
	padding:0;
	margin: 0;
	font-size: 70%;
}
/* End Sticky Footer */

.flash_message {
	width:100%;
	text-align:center;
	padding:5px;
	position:absolute;
	top:60px;
	left:0;
	background-color:#eee;
	font-weight:bold;
	border: 1px solid #bbb;
}

section {
	display: block;
	padding: 0;
	/*border: 1px solid red;*/
	margin-top: 95px; /* clear the nav bar and flash message */
}

label {
	margin-top:10px;
	margin-bottom:0;
	display:block;

}

.checkboxLabel, .radioLabel {
	display:inline;
}

input[type=text], input[type=password], select{
	width: 100%;
	font-size: 1em;
}
input[type=file]{

	width: 100%;
	padding: 0;

}

input[type=date]{
	font-size: 1em;
	padding: 0;
	vertical-align: top;
}

input[type='checkbox']:checked + label{
	border: 1px solid black;
}


.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.clear{
	clear: both;
}



/*textarea {
	height: 4em;
	min-width: 100%;
	max-width: 100%;
}*/

.col-center{
	margin: 0 auto;
}

input#inputDate{
	/*padding: 0;
	color: red;
	width: 200%;
	margin: 0;
	height: 1.25em;*/
	border: green 1px solid;
	height: 2em;
}

#tag_list {
	margin-top: 1em;
	width: 100%;
	font-size: 1.1em;
	color: red;
}

.redBG{ background: red; }
.orangeBG{ background: orange; }
.limeBG{ background: lime; }
.purpleBG{ background: purple; }
.violetBG{ background: violet; }
.pinkBG{ background: pink; }
.greenBG{ background: green; }

#rename_or_warn{
	font-size: 1.1em;
	color: red;
	text-align: right;
	margin: 0;
	float: right;
}

.vspace1em{
	margin-top: 1em;
}

.red{
	color: red;
}

ul.pagination{
	float:right;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #aaa;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:hover, .pagination>li>span:hover {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #aaa;
    text-decoration: none;
    background-color: #ddd;
    border: 1px solid #ddd;
}
li.active span{
	background-color: #f00;
}

/*ul.errors {
color:  #900;
margin:0;
margin-top:5px;
padding:1em;
list-style-type:none;
font-size: 1.25em;
width: 80%;
margin: 0 auto;
padding-left: 2em;
background-color: pink;
text-align: center;

}*/
.git{
	margin-left: 0.125em;
	font-family: sans-serif;
	font-size: 90%;
}

.navbar-default {
	background-color: white;
	opacity: 1;
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

nav.navbar.navbar-default.navbar-fixed-top{
	/*background-color: white;*/
}

ul.nav.navbar-nav.navbar-right li{
	border: none;
	font-size: .9em;
	margin: 0;
}

ul.nav.navbar-nav.navbar-left{
	/*border: none;*/
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	color: gray;
	font-family: 'Shadows Into Light', 'cursive';
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: .2em;
}


.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #888;
    background-color: #ddd;
    border-color: #ccc
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #aaa;
    border-color: #999
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	ul.nav.navbar-nav.navbar-right li{
		background-color: #ddd;
		border: 1px solid #888;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #888;
		margin-right: 1em;
		margin-left: 1em;
		padding: 0;

	}
	ul.nav.navbar-nav.navbar-right li:hover{
		background-color: #ccc;
	}

	#navbar.navbar-collapse.collapse {
		border: none;
		background-color: white;
	}

	.icon-bar{
		color: red;
	}

	#renameOrWarn, #tagSelector, #tagList{
		text-align: left;
		margin: .75em 0;
	}

	#tagSelector{
		margin-top: 0.25em;
	}




}
